div.navigation {
  @apply relative flex justify-between border-b border-gray-100 bg-white;

  > a {
    @apply ml-4 mr-8 my-auto;

    img {
      @apply h-20 p-2;
    }
  }

  nav {
    @apply w-full flex justify-end;
    ul {
      @apply bg-white w-9/12 right-0 lg:w-full z-20 absolute lg:top-auto lg:static lg:flex flex-row justify-around max-w-screen-xl transition-transform transform translate-x-full lg:transform-none top-[80px];
      li {
        @apply w-full;
        a {
          @apply text-gray-700 py-4 text-center uppercase h-full flex justify-center items-center text-lg font-bold;
        }
        a:hover {
          @apply bg-gradient-to-br from-gray-300 via-gray-50 to-gray-100;
        }

        a.active-link {
          @apply bg-gradient-to-br from-amber-500 via-orange-400 to-orange-500 text-gray-100;
        }
      }
    }

    ul.show-menu {
      @apply shadow-lg translate-x-0;
    }

    button.menu-button {
      @apply appearance-none bg-transparent border-0 lg:hidden p-4 min-h-full flex flex-col justify-center items-center hover:from-gray-300 via-gray-50 to-gray-100 cursor-pointer;

      span {
        @apply h-1 bg-gray-400;
      }

      span:nth-child(1) {
        @apply w-6;
      }
      span:nth-child(2) {
        @apply my-1 w-9;
      }
      span:nth-child(3) {
        @apply w-4;
      }
    }

    button.menu-button:hover {
      @apply bg-gradient-to-br from-amber-500 via-orange-400 to-orange-500;

      span {
        @apply bg-gray-50;
      }
    }

    div.language {
      @apply min-h-full w-full relative border-l border-r border-gray-100;
      max-width: 140px;
      > button {
        @apply appearance-none border-0 w-full bg-white z-20 relative h-full m-0 flex justify-center items-center uppercase bg-gradient-to-br hover:from-gray-200 via-gray-100 to-gray-100 cursor-pointer;
        span {
          @apply text-gray-500;
        }

        svg {
          @apply ml-4 flex items-center transition;
        }

        svg.rotate {
          @apply rotate-180;
        }
      }

      ul {
        @apply flex-col absolute right-full lg:right-0 w-full bg-gray-600 shadow-sm text-center z-10 transition-transform ease-out;
        li {
          @apply w-full bg-white;
          button {
            @apply appearance-none border-0 bg-transparent w-full px-3 py-2 m-0 uppercase cursor-pointer;
          }
        }

        li:hover {
          @apply bg-gradient-to-br from-gray-200 via-gray-100 to-gray-100 cursor-pointer;
        }

        li.selected {
          @apply bg-gradient-to-br from-amber-500 via-orange-400 to-orange-500 text-gray-100;
        }
      }

      ul.hidden {
        @apply -translate-y-48;
      }
    }
  }
}
