<div class="navigation">
  <a [routerLinkActiveOptions]="{ exact: true }"
     routerDirection="root"
     routerLink="/"
     routerLinkActive="active-link">
    <img alt="JE Logo" src="./assets/img/je-logo.webp" />
  </a>
  <nav>
    <ul [ngClass]="{ 'show-menu': showMenu }">
      <li *ngFor="let nav of navigation">
        <a [routerLink]="nav.url"
           [routerLinkActiveOptions]="{ exact: true }"
           routerDirection="root"
           routerLinkActive="active-link">
          {{ nav.title | translate }}
        </a>
      </li>
    </ul>
    <div class="language">
      <button (click)="toggleLanguageList()"
              (appClickElsewhere)="hideLanguageList = true"
              [attr.aria-expanded]="!hideLanguageList"
              [attr.aria-label]="'A11Y.SELECT_LANGUAGE' | translate"
              aria-haspopup="true"
              type="button">
        <span>{{ selected }}</span>
        <svg [ngClass]="{ rotate: !hideLanguageList }"
             aria-hidden="true"
             class="w-4 h-4 text-gray-500"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="m6 9 6 6 6-6" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
      <ul [ngClass]="{ hidden: hideLanguageList }">
        <li [ngClass]="{ selected: selected === lang }"
            *ngFor="let lang of languages">
          <button (click)="setLanguage(lang)" type="button">
            {{ "LANGUAGE." + lang | translate }}
          </button>
        </li>
      </ul>
    </div>
    <button (click)="toggleMenu()"
            (appClickElsewhere)="showMenu = false"
            [attr.aria-expanded]="showMenu"
            [attr.aria-label]="'A11Y.TOGGLE_NAVIGATION' | translate"
            class="menu-button"
            type="button">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </nav>
</div>
