<button (click)="toggleTheme()"
    [attr.aria-label]="'A11Y.TOGGLE_THEME' | translate"
    [attr.aria-pressed]="isDark"
    type="button"
    class="appearance-none bg-transparent dark:border-gray-50 border-gray-800 border-2 h-24 w-10 fixed z-50 top-[calc(50%-112px)] right-2 rounded-full flex justify-center py-[2px]">
    <svg id="theme-toggle-dark-icon"
        class="h-6 dark:text-gray-950 text-gray-500 absolute z-10 mt-1 pointer-events-none transition-all delay-100"
        [ngClass]="{'opacity-100': isDark, 'opacity-50': !isDark}" fill="currentColor" viewBox="0 0 20 20"
        aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
    </svg>

    <span [ngClass]="{'top-[2px]': isDark, 'top-[58px]': !isDark}"
        class="absolute dark:bg-gray-200 bg-gray-800 duration-300 rounded-full w-8 h-8 transition-all"></span>

    <svg id="theme-toggle-light-icon"
        class="h-6 text-amber-500 mt-auto mb-1 shadow-md pointer-events-none transition-opacity delay-100 z-10"
        [ngClass]="{'opacity-100': !isDark, 'opacity-20': isDark}" fill="currentColor" viewBox="0 0 20 20"
        aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            fill-rule="evenodd" clip-rule="evenodd"></path>
    </svg>

</button>
