<app-title-block
  tag="A"
  eyebrowKey="NAVIGATION.AUTOMATION"
  titleKey="GLOBAL.AUTOMATION_INTRO"
  leadKey="GLOBAL.AUTOMATION_INTRO_TEXT"
  [leadParams]="params"
  [contents]="contents"
/>

<div class="page-rail">
  <app-section-rail [items]="contents" />
  <div>
    @for (section of sections; track section.id; let odd = $odd) {
      <app-feature-section
        [tag]="section.tag"
        [id]="section.id"
        [titleKey]="section.title"
        [reverse]="odd"
      >
        <ul body class="dash-list">
          @for (text of section.texts; track text) {
            <li>{{ text | translate }}</li>
          }
        </ul>
        <app-figure figure [captionKey]="captions[section.figure]">
          @switch (section.figure) {
            @case ('process') {
              <app-process-figure />
            }
            @case ('loop') {
              <app-loop-figure />
            }
            @case ('rack') {
              <app-rack-figure />
            }
            @case ('integration') {
              <app-integration-figure />
            }
          }
        </app-figure>
      </app-feature-section>
    }

    <app-reason-sheet
      [tag]="sheet.tag"
      [id]="sheet.id"
      [titleKey]="sheet.key"
      [titleParams]="sheet.params"
      [items]="outroItems$ | async"
    />

    <app-cta-band textKey="GLOBAL.AUTOMATION_OUTRO_SUMMARY" />
  </div>
</div>
