<app-title-block
  tag="M"
  eyebrowKey="NAVIGATION.MAINTENANCE"
  titleKey="GLOBAL.MAINTENANCE_INTRO"
  leadKey="GLOBAL.MAINTENANCE_INTRO_TEXT"
  [leadParams]="params"
  [contents]="contents"
/>

@for (section of sections; track section.id; let odd = $odd) {
  <app-feature-section
    [tag]="section.tag"
    [id]="section.id"
    [titleKey]="section.title"
    [reverse]="odd"
  >
    <ul body class="dash-list">
      @for (text of section.texts; track text) {
        <li>{{ text | translate }}</li>
      }
    </ul>
    <app-timeline-glyph figure [variant]="section.figure.glyph" />
  </app-feature-section>
}

<app-reason-sheet
  tag="M-06"
  [id]="'m-06'"
  titleKey="GLOBAL.MAINTENANCE_OUTRO"
  [titleParams]="params"
  [items]="outroItems$ | async"
/>

<app-cta-band textKey="GLOBAL.MAINTENANCE_OUTRO_SUMMARY" />
